body {
    padding: 1em;
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1 {
    font-size: 24pt;
    background-color: yellow;
}

p {
    color: blue;
    font-size: 16pt;
}