body {
    font-size: 20px;
    padding: 0.5em;
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

img {
    animation-name: bin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width: 60px;
}

@keyframes bin {
    0% {
        transform: translate(0px);
    }
    50% {
        transform: translate(0px, 20px);
    }
    100% {
        transform: translate(0px);
    }
}

a:link, a:visited {
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}