body {
    font-size: 20px;
    padding: 0.5em;
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: yellow;
}

a:link {
    text-decoration: none;
    color: black;
}

/* 
.highlighted {
    color: yellow;
} */

.highlighted {
    background-color: red;
}