body {
    /* background-color: aqua; */
    font-family: Arial, Helvetica, sans-serif;
}

/* type setup */
h1 {
    font-weight: lighter;
}

/* layout setup */
main {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    /* background-color: blueviolet; */
}

#savedHighlight {

}

#display {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 100vh;
    width: 70vw;
    border-right: 1px solid black;
}

#display > div {
    border-bottom: 1px solid black;
    padding: 0.5vw 1vw;
}

#display2 {
    display: none;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 100vh;
    width: 70vw;
    border-right: 1px solid black;
}

#display2 > div {
    border-bottom: 1px solid black;
    /* background-color: red; */
    padding: 0.5vw 1vw;
}

#nav {
    height: 100vh;
    width: 30vw;
}

#initial-bin {
    display: inline-flex;
    width: 100%;
    font-size: 14px;
    padding: 0.5vw;
    border-bottom: 1px solid black;
    background-color: yellow;
}

#initial-bin > span {
    position: absolute;
    right: 0.5vw;
}

#personal-bins, #archive {
    display: inline-flex;
    width: 100%;
    padding: 0.5vw;
    font-size: 14px;
    border-bottom: 1px solid black;
} 

#personal-bins > span {
    position: absolute;
    right: 0.5vw;
}

.naming {
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

#pb-highlight > div {
    display: inline-flex;
    width: 100%;
    padding: 0.5vw;
    font-size: 14px;
    border-bottom: 1px solid black;
}

.personal-bins {
    display: inline-block;
    width: 100%;
    padding: 0.5vw;
    font-size: 8px;
    border-bottom: 1px solid black;
}

#toolbar {
    display: inline-flex;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: white;
    padding: 5px;
    z-index: 3;
}

#toolbar > div {
    padding: 5px;
}

/* highlight styling */
.info {
    display: inline-flex;
    column-gap: 10px;
    /* background-color: gold; */
    align-items: stretch;
    width: 100%;
    justify-content: flex-start;
}

.info > h4 {
    text-wrap: nowrap;
}

.highlight {
    border-bottom: 1px solid black;
}

.archive-countdown {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    font-weight: lighter;
    /* background-color: lime; */
}

.archive-countdown > img {
    padding-top: 18px;
    padding-right: 10px;
}

.delete-countdown {
    display: inline-flex;
    width: 70%;
    justify-content: flex-end;
    font-weight: normal;
    background-color: lime;
}

#instructions {
    width: 30vw;
    height: 80vh;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow-y: auto;
    font-size: 14px;
    border-top: 1px solid black;
    user-select: none; 
    font-family: 'Courier New', Courier, monospace;
    z-index: 100;
    background-color: white;
}

#instructions > h4 {
    color: black;
    width: 80%;
    padding-left: 1vw;
}

#instructions > h5 {
    font-weight: normal;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
}
#instructions > h5:hover {
    font-weight: bold;
}

#instructions > p {
    width: 80%;
    padding-left: 1vw;
}